/* General Styles */
body {
    font-family: "Montserrat", sans-serif;
    background-color: #e6e5e4;
    margin: 20px;
}

/* Header Styles */
header {
    width: 100%;
    text-align: center;
    padding: 30px;
    color: #000000;
    font-size: 14px;
    margin:auto;
}

h1 {
    color: #5D6532;
    font-size: 35px;
}

h3 {
    color: #5D6532;
    font-size: 20px;
}

h5 {
    color: #333333;
    font-size: 13px;

}

img {
    width: 150px;
    padding-bottom: 15px;;
}


a:link {
    color: #222222;
    text-decoration: none;
}

hr {
    margin: 30px auto;
    height: 2px;
    background-color: #5D6532;
    border: none;
    width: 30%;
}

/* Main Section Styles */
main {
    align-content: center;
    text-align: center;
}

.bio {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

#about {
    text-align: center;

}

.column {
    display: inline-block;
    margin: auto;
}

.projects {
    width: 200px;
    display: inline-block;
    margin: auto;
    vertical-align: top;
}

form {
    border-radius: 10px;
    background-color: #5D6532;
    border: none;
    padding: 25px;
}


input [type=text] {
    width: 100%;
    padding: 15px;


}

label {
    display:block;
    margin: auto;
    color:#FDFBD4;
}

input[type=text] {
  width: 80%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

input[type=email] {
  width: 80%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

input[type=textarea] {
  width: 80%;
  padding: 20px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

input[type=button] {
  width: 60%;
  background-color: #FDFBD4;
  color: #5D6532;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Footer Section Styles */
.footer {
    font-size: 12px;
    text-align: center;
}