/* General Styles */
body {
    font-family: "Montserrat", sans-serif;
    background-color: #e6e5e4;
    margin: auto;
}

/* Header Styles */
header {
    width: 100%;
    text-align: center;
    padding: 30px;
    font-size: 16px;
    margin: auto;
}

h1 {
    color: #5D6532;
    font-size: 35px;
}

h3 {
    color: #5D6532;
    font-size: 20px;
}

h5 {
    color: #333333;
    font-size: 13px;

}

img {
    width: 150px;
    padding-bottom: 15px;
}

hr {
    margin: 30px auto;
    height: 2px;
    background-color: #5D6532;
    border: none;
    width: 30%;
}

.navbar { 
    position: sticky;
}

.navbar a {
    color: #222222;
    text-decoration: none;
}

/* Main Section Styles */
main {
    text-align: center;
    margin: auto;
    padding: 20px;
}

#about {
    text-align: center;
}

.container {
    display: flex;
    width: 80%;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.bio {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.projects {
    width: 200px;
    display: inline-block;
    margin: auto;
    vertical-align: top;
}

form {
    border-radius: 10px;
    background-color: #5D6532;
    border: none;
    padding: 25px;
}


input [type=text] {
    width: 100%;
    padding: 15px;
}

label {
    display: inline;
    margin: auto;
    color: #FDFBD4;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

input[type=text] {
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

input[type=email] {
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

input[type=button] {
    width: 60%;
    background-color: #FDFBD4;
    color: #5D6532;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    padding: 14px 30px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.button:hover {
    background-color: #e0c219;
}

textarea {
    width: 80%;
    height: 100px;
    border: none;
    border-radius: 6px;
    margin-top: 5px;
}


/* Footer Section Styles */
.footer {
    font-size: 12px;
    text-align: center;
}